@model CR.Web.Funcionalidades.Factura.BuscarFactura
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>
<p>
    @Html.ActionLink("Registrar Nuevo", "Registrar")
</p>
@using (Ajax.BeginForm("BuscarPorNombre", "Facturas", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ResultadoFiltro"
}, new
{
    id = "FiltrarFacturas",
    @class = "form-inline"
}))
{
    <div class="form-group col-sm-10">
        <input name="Filtro" value="@Model.Filtro" 
               type="text" class="form-control" placeholder="Buscar Factura" />
    </div>
    <input type="submit" value="Filtrar..." class="btn btn-success" />
}

<div id="ResultadoFiltro">
    @if (Model.Facturas.Count() > 0)
    {
        @Html.Partial("_Buscar", Model.Facturas);
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/unobtrusiveajax");
}



